<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <connectionStrings>
    <!--<add name="DbSharedStandard"   connectionString="metadata=res://*/DbSharedStandardModel.csdl|res://*/DbSharedStandardModel.ssdl|res://*/DbSharedStandardModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ngvm-0806;initial catalog=Shared1;user id=DBlogin;password=mnxc12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!-- EF edmx Connection Strings -->
    
    <add name="DbSharedStandard" connectionString="metadata=res://*/DbShared.DbSharedStandardModel.csdl|res://*/DbShared.DbSharedStandardModel.ssdl|res://*/DbShared.DbSharedStandardModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NGVM-0806;initial catalog=Shared1;persist security info=True;user id=DBLOGIN;password=mnxc12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DbShippingStandard" connectionString="metadata=res://*/DbShippingStandardModel.csdl|res://*/DbShippingStandardModel.ssdl|res://*/DbShippingStandardModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ngvm-0806;initial catalog=Shipping;persist security info=True;user id=dblogin;password=mnxc12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="DbMainShipment" connectionString="metadata=res://*/Shipment.DbMainShipmentModel.csdl|res://*/Shipment.DbMainShipmentModel.ssdl|res://*/Shipment.DbMainShipmentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ngvm-0806;initial catalog=GTXData;user id=dblogin;password=mnxc12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DbMainStandard" connectionString="metadata=res://*/DbMain.DbMainStandardModel.csdl|res://*/DbMain.DbMainStandardModel.ssdl|res://*/DbMain.DbMainStandardModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ngvm-0806;initial catalog=GTXData;persist security info=True;user id=dblogin;password=mnxc12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!-- Classic Connection Strings -->
    
    <add name="SharedContext" connectionString="Data Source=NGVM-0806;Initial Catalog=GTXTest;Persist Security Info=True;User ID=DBlogin;Password=mnxc12" providerName="System.Data.SqlClient" />
    <add name="ASPNETDBConnectionString" connectionString="Data Source=NGVM-0806;Initial Catalog=GTXData;Persist Security Info=True;User ID=DBlogin;Password=mnxc12" providerName="System.Data.SqlClient" />
    <add name="EF_CodeFirst_Test" connectionString="Data Source=10.16.1.102;Initial Catalog=EF_CodeFirst_Test;Persist Security Info=True;User ID=DB_CRUD;Password=b9FFsZ6Cu" providerName="System.Data.SqlClient" />    
    
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>